@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap');


html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

*{
    font-family: 'Nunito Sans', sans-serif;
}

@import url('header.css');
@import url('footer.css');
@import url('medias.css');

