h1{
    color: rgb(66, 127, 146);
}
#div1{
    display: block;
    background-color: aquamarine;
    height: 100px;
    width: 300px;
}
#div2{
    background-color: aqua;
    height: 100px;
    width: 300px;
}
#div3{
   background-color: rgb(8, 162, 233); 
height: 100px ;
width: 300px;
}