
html, body{
    height: 100%;
    width: 100%;
  }
  
  .boxBlack{
    background-color: black;
    padding: 20px;
    font-size: 12px;
    color: #fff;
    height: 100%;
    width: 100%;
  }
  
  header img{
    width: 500px;
    display: block;
    margin: 0px auto;
    margin-bottom:30px;
  }
  
  .boxCenter{
    width: 500px;
    margin: 0px auto;
  
  }
  
  .boxCenter h1{
    text-align: center;
  }
  
  
  
  
  
  .boxLeft{
    display: block;
    width: 300px;
    float: left;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    
  }
  
  .boxRight{
    display: block;
    width: 170px;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    
  }
  .boxLeft h1{
    font-size: 12px;
  }
  .boxLeft h1 span{
    color: #46d369; 
  }
  .boxLeft span{
    color:
  }
  .sinopse{
    width: 100%;
    float: left;
  }